.nav {
    text-decoration: none;
    color: #ffffff;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    padding: 0;
    margin: 0;
}

#topNavBar {
    position: sticky;
    top: 0;
}

#post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
    padding-right: 10vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#title {
    margin-top: 30px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#content {
    margin: 25px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.titleBox {
    margin-top: 30px;
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    width: 80vw;
    text-align: center;
}

.tagsBox {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    width: 80vw;
    text-align: center;
    margin-top: 5px;
}

.contentBox {
    margin: 25px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    width: 80vw;
}

.coverUrlBox {
    width: 80vw;
    text-align: center;
    font-size: 1rem;
}

::placeholder {
    text-align: center;
}

#posts {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.postItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    height: fit-content;
    min-height: 100px;
    min-width: 200px;
    overflow: auto;
    background-color: #3f51b5;
    justify-content: flex-start;
    margin: 20px;
    position: relative;
    box-shadow: 6px 7px 8px -6px rgba(0,0,0,0.75);
}

#postTitle {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#postTag {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

#link {
    min-width: 200px;
    min-height: 100px;
    width: 100%;
    height: 100%;
}

#credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .fields {
        margin: 5px;
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        width: 300px;
        padding-left: 7px;
    }
    ::placeholder {
        text-align: left;
    }
    #header {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    a {
        margin: 4px 0 20px 0;
    }
}

img {
    max-width: 400px;
    height: auto;
}