.nav {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Righteous';
    font-size: 25px;
}

#topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Righteous';
    font-size: 25px;
}

#navLeftItem{
    padding:15px;
}

body {
    padding: 0;
    margin: 0;
}

#topNavBar {
    position: sticky;
    top: 0;
}

#projName {
    padding:20px;
    font-family: 'Righteous';
    font-size: 50px;
    text-align: center;
}

#post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10vw;
    padding-right: 10vw;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#title {
    margin-top: 30px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

#content {
    margin: 25px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.titleBox {
    margin-top: 30px;
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.00833em;
    width: 80vw;
    text-align: center;
}

.tagsBox {
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    width: 80vw;
    text-align: center;
    margin-top: 5px;
}

.contentBox {
    margin: 25px;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    width: 80vw;
}

.coverUrlBox {
    width: 80vw;
    text-align: center;
    font-size: 1rem;
}

::placeholder {
    text-align: center;
}

#posts {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#postsBG{
    margin:30px;
    border-radius: 10px;
    background-color: #C2DDE6;
}

#postsBGHead{
    padding: 20px;
    display:flex;
    justify-content: space-around;
    font-family: 'Righteous';
    font-size: 37px;
}

.postItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: min-content;
    height: fit-content;
    min-height: 100px;
    min-width: 200px;
    overflow: auto;
    background-color: #ffffff;
    justify-content: flex-start;
    margin: 20px;
    position: relative;
    box-shadow: 6px 7px 8px -6px rgba(0,0,0,0.75);
}

#articleBG{
    margin:30px;
    border-radius: 10px;
    background-color: #C2DDE6;
}

#postTitle {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

#postTag {
    color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    color: #000000;
    text-decoration: none;
}

#link {
    min-width: 200px;
    min-height: 100px;
    width: 100%;
    height: 100%;
}

#signInPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;
    
    width:400px;
    height:400px;
    background-color: white;
    border-radius: 10px; 

    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
    right: 0;
    
    margin: auto;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .fields {
        margin: 10px;
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        width: 300px;
        padding-left: 7px;
    }

    .link {
        font-family: 'Righteous';
        font-size: 15;
    }
    
    #header {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Righteous';
        font-size: 37px;
    }

    .button {
        font-family: 'Righteous';
        padding: 10px 20px 10px 20px;
        background-color: #91E399;
        margin-bottom: 10px;
    }
}

#parent-signUpPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    // margin-bottom: 30px;
 
 }

#signUpPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
    width:400px;
    height:475px;
    background-color: white;
    border-radius: 10px; 

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .fields {
        margin: 10px;
        font-size: 1rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        width: 300px;
        padding-left: 7px;
    }
    
    #header {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Righteous';
        font-size: 37px;
    }

}

#parent-signUpPage-cont {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 30px;
   margin-bottom: 30px;

}

#signUpPage-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width:500px;
    height:600px;
    background-color: white;
    border-radius: 10px; 

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .head-text {
        text-align: center;

        h4 {
            margin-bottom: 0;
        }
        
        h6 {
            margin-top: 0;
        }
    }
    
    #header {
        margin-top: 20px;
        margin-bottom: 10px;
        font-family: 'Righteous';
        font-size: 37px;
    }

    .sliders {
        text-align: center;
    }

    .error {
        text-align: center;
        color: red;
        font-family: 'Righteous';
        font-size: 18px;
    }

}

#bottomSignUp{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    
    .link {
        flex-basis: 100%;
        text-align: center;
        padding-right: 30px;
        font-family: 'Righteous';
        font-size: 15;
    }
    
    .button {
        flex-basis: 100%;
        text-align: center;
        font-family: 'Righteous';
        padding: 10px 10px 10px 10px;
        background-color: #91E399;
        margin-bottom: 10px;
    }
}

img {
    max-width: 400px;
    height: auto;
}

.logo {
    background-image: url('img/logo.png');
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}
